h4{
   color: aquamarine;
   
}
p{
   color: blueviolet;
}
.head{
   background-color: beige;
}
#link{
   text-decoration: none;
   float: right;
}
.box{
   border: 1px solid red;
   margin-left: 40px;
   margin-right: 60px;
   margin-top: 80px;
   padding-left: 20px;
   padding-bottom: 20px;
   padding-right: 20px;
   padding-top: 20px;
}
table,tr, td ,th{
   border: 5px solid blue;
   margin:50px 200px 100px
}  
th,td{
   padding: 10px 20px 30px;
}